<!--
<section>
  <div class='flexTest'>
    <div class="flexSub">
      <p>One</p>
      <p>Two</p>
      <p>Three</p>
    </div>
    <div class='flexSub'>
      <p>Four</p>
      <p>Five</p>
      <p>Six</p>
    </div>
  </div>
</section> -->

<!-- 确认 -->

<meta content=
"width=device-width, height=device-height, initial-scale=1"
      name="viewport">
<section>
  <div class='flexTest'>
    <div class="flexSub" id="Free">
      <h1> <span style=" font: normal normal bold 60px/78px Suisse Intl;"> Free</span></h1>
      <svg class="mobile-svg" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#222"/>
      </svg>
      <span class="checkMark freeCardInformation"> <svg class="desktop-svg" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#222"/>
      </svg>Read 3 articles per month that you want</span>
      <span class="freeText  freeCardInformation" style="color: #727272">Discounts for products from companies we Partner with</span>
      <span class="freeText freeCardInformation" style="color: #727272">Daily promo codes for other services and products</span>
      <span class="freeText freeCardInformation" style="color: #727272">Discounts on Pantsuit Professional held events</span>
      <span class="freeText freeCardInformation" style="color: #727272">Support out mission and company</span>
      <span class="freeText freeCardInformation" style="color: #727272">Receive a cool icon next to your name</span>
      <span class="freeText freeCardInformation" style="color: #727272">Free financial planning and investing consult</span>
      <br>
      <h1 class="freePrice">
        <span style="font: normal normal bold 51px/30px Suisse Intl;">$0/</span>
        <span style="font: normal normal bold 38px/30px Suisse Intl;">month</span>
      </h1>
      <button class='freeButton'>Continue as a free member</button>
      <br>
    </div>
    <div class='flexSub' id="Premium" style="border-radius: 20px; border-color: #CE4D87; border-style: solid;">
      <h1> <span style=" font: normal normal bold 60px/78px Suisse Intl;"> Premium </span> </h1>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>

      <span class="cardInformation">Read 3 articles per month that you want</span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>

      <span class="cardInformation" >Discounts for products from companies we with</span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>
      <span class="cardInformation">
        Daily promo codes for other services and products
      </span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>
      <span class="cardInformation">
        Discounts on Pantsuit Professional held events
      </span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>

      <span class="cardInformation" >
        Support out mission and company
      </span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>
      <span class="cardInformation" >
        Receive a cool icon next to your name
      </span>
      <svg class="premiumCheck" xmlns="http://www.w3.org/2000/svg" width="30.21" height="20.738" viewBox="0 0 30.21 20.738">
        <path id="check" d="M245.662,306.695a2.138,2.138,0,0,0-3.011,0l-14.983,14.988-7.963-7.963a2.129,2.129,0,0,0-3.011,3.011l9.468,9.463a2.138,2.138,0,0,0,3.011,0l16.488-16.488A2.129,2.129,0,0,0,245.662,306.695Z" transform="translate(-216.075 -306.075)" fill="#ce4d87"/>
      </svg>
      <span class="cardInformation">
        Free financial planning and investing consult
      </span>
      <br>
      <h1 id="premiumprice"><span style="font: normal normal bold 51px/30px Suisse Intl;">$4.99/</span>
        <span style="font: normal normal bold 38px/30px Suisse Intl;">month</span></h1>
      <button class='premiumButton'>Try for 30 days free</button>
      <p>You will be charged after 30 days, you can cancel it anytime</p>
    </div>
  </div>
</section>
